---
import { Button } from "@components/ui/button";
import Layout from "@layouts/Layout.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import { render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { id: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await render(post);
---

<Layout
  title={post.data.title}
  seo={{
    title: post.data.title,
    description: post.data.description,
    extend: {
      meta: [
        {
          name: "keywords",
          content: post.data.keywords.join(","),
        },
        {
          name: "author",
          content: "Nisarg Bhatt",
        },
      ],
    },
  }}
>
  <div class="flex flex-col justify-start items-center gap-2 px-2 w-full">
    <div class="w-full">
      <a href="/blog">
        <Button variant="link" size="sm">← Back to Blog</Button>
      </a>
    </div>
    <h1 class="text-3xl text-center font-extrabold" transition:name="blog-name">
      {post.data.title}
    </h1>
    <p class="text-sm font-light text-center text-gray-500" transition:name="blog-description">
      {post.data.description}
    </p>
    <time
      class="text-xs font-light text-gray-500"
      aria-label="Published on"
      datetime={post.data?.date?.toString()}
      title={post.data?.date?.toString()}
    >
      {
        post.data?.date?.toLocaleDateString("en-US", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </time>
    <div class="prose prose-base dark:prose-invert prose-a:text-blue-600 w-full py-2 max-w-4xl">
      <Content />
    </div>
  </div>
</Layout>
