---
import { Badge } from "@components/ui/badge";
import { Button } from "@components/ui/button";
import { Card, CardContent, CardDescription, CardFooter, CardHeader, CardTitle } from "@components/ui/card";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<Layout title="Blog List">
  <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4 py-2">
    {
      posts.map((post) => (
        <Card className="animate-on-scroll delay-100 hover-lift">
          <CardHeader>
            <CardTitle>{post?.data?.title}</CardTitle>
            <CardDescription>{post?.data?.description}</CardDescription>
          </CardHeader>
          <CardContent>
            <div class="flex flex-wrap gap-1 pb-1">
              {post?.data?.keywords?.map((keyword) => (
                <Badge variant="outline" key={keyword}>
                  {keyword}
                </Badge>
              ))}
            </div>
            <time
              aria-label="Blog Create Date"
              class="text-xs font-light text-gray-500"
              datetime={post.data.date.toString()}
            >
              {post.data.date.toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })}
            </time>
          </CardContent>
          <CardFooter>
            <a href={`/blog/${post.id}`}>
              <Button variant="outline" size="sm" className="w-full">
                Read Blog
              </Button>
            </a>
          </CardFooter>
        </Card>
      ))
    }
  </div>
</Layout>
